<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="num1">+
        <input type="text" v-model="num2">
        <span> = </span>
        <span>结果是:{{ (num1 - 0) + (num2 - 0)}}</span>
    </div>
    <script src="./vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                num1:"",
                num2:""
            }
        })
        
    </script>
</body>

</html>